<section class="faq">
  <div class="section-container">
    <h2>Why are cats several colors?</h2>
    <p>Research suggests that cats' hair is several colors because they possess magical powers.  Who knew?</p>

    <h2>Where's the coffee?</h2>
    <p>In the kitchen.</p>

    <h2>What else do I need to know?</h2>
    <p>Campaigns can be several different names and have a bunch of different config options n' shit.  Use your best judgement.</p>

    <h2>Ready to go?</h2>
    <% if authenticated? %>
      <% if already_submitted? %>
        <%= link_to :start, :class => 'btn primary large' do %><span>Cool</span><% end %>
      <% else %>
        <%= link_to :intent, :class => 'btn primary large' do %><span>Cool</span><% end %>
      <% end %>
    <% else %>
      <%= link_to :login, :class => 'btn primary large' do %><span>Cool</span><% end %>
    <% end %>
  </div>
</section>
