<section class="closed">
  <div class="section-container">
    <p>This is the basic gallery (closed campaign) static page for Create and Share campaigns.  You can make a custom one by creating a <b>gallery.html.erb</b> file in 'app/views/<%= get_campaign.path %>/static_pages'.</p>
  </div>
</section>
