<section class="start">
  <div class="section-container">
    <p>This is the basic start / submit guide page for create and share campaigns.  Create a campaign-specific version by making a <b>start.html.erb</b> in 'app/views/campaigns/<%= @campaign.path %>/static_pages'.</p>
    <%= link_to submit_path, class: 'btn primary large solo' do %><span>submit</span><% end %>
  </div>
</section>
