<aside class="mobile">
  <h2>A separate fact that mobile users will see.</h2>
</aside>

<aside class="desktop">
  <h1>how it works</h1>
  <ol>
    <li>You log in.</li>
    <li>You fill out a form.</li>
    <li>You (might) win money.</li>
  </ol>
</aside>

