<header>
  <img class="logo-ds" src="/images/logo-ds.png" alt="DoSomething.org logo">
  <img class="logo-mobile" src="/images/logo-mobile.png" alt="Pics for Pets logo">
  <h1><%= get_campaign ? get_campaign.title : "DoSomething Create and Share Campaigns" %></h1>
  <h2>Some interesting fact about your campaign.</h2>
</header>

