/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import '../../application'
@import 'partials_app/form'

$fu-primary: #db5047
$fu-secondary: #36b193
$fu-off-black: #333131

$fu-header: url('/images/campaigns/fedup/header.jpg')
$fu-numbers: url('/images/campaigns/fedup/numbers.png')

// -------
// GENERAL
// -------
body
  background: #fff

a:link, a:visited, a:active
  color: $fu-primary

a:hover
  color: lighten($fu-primary, 5)

// -----------
// UTILITY BAR
// -----------
.utility-bar
  a
    color: #fff
    &:hover
      color: darken(#fff, 10)

// ------
// HEADER
// ------
.header
  background-image: $fu-header
  background-size: cover
  background-position: 50% 50%
  .section-container
    background: none

img.header-pics-logo
  height: auto
  width: 300px
  margin: 0 0 0 -150px
  top: 15px
  left: 50%
  border: none
  border-radius: none

// --------------
// CALL TO ACTION
// --------------
.cta
  background: $fu-primary
  h2
    float: left
    margin: 0.5em 0 0 0
    @media all and (max-width: 750px)
      float: none
      margin: 0

  .btn
    float: right
    @media all and (max-width: 750px)
      float: none
      margin: 0 auto

  .btn.solo
    float: none

  .section-container
    max-width: 575px
    width: 98%

// -------
// FILTERS
// -------
.filters
  background: $fu-off-black

// -----
// POSTS
// -----
.posts
  h1, h2, p
    color: $fu-off-black
  p
    border-bottom: 5px solid $fu-off-black

  .school
    margin: 0 0 5px 15px

  .share-container
    .share-count
      padding: 0.8em 0.8em 0.4em

    .btn.share
      @media all and (max-width: 600px)
        margin: 0 2% 3% 2%

    .facebook-share
      width: 5.5em !important

    .facebook-icon
      background-image: url('/images/campaigns/fedup/facebook.png')
      background-repeat: no-repeat
      background-size: 12px
      display: inline-block
      height: 24px
      width: 12px
      position: relative
      top: 4px
      left: -8px
      @media all and (max-width: 600px)
        background-size: 8px
        height: 15px
        width: 12px
        top: 3px
        left: -4px

  .votes
    .thumbs-up, .thumbs-down, .count
      font-weight: 500 !important
      color: #fff
      +border-radius(3px)

    .thumbs-up, .thumbs-down
      padding: 10px 15px 10px 20px

    .thumb-icon
      background-image: url('/images/campaigns/fedup/thumbs.png')
      background-repeat: no-repeat
      background-size: 40px
      display: inline-block
      height: 22px
      width: 16px
      position: relative
      top: 6px
      left: -8px

    .thumbs-up
      background-color: $fu-secondary
      .thumb-icon
        background-position: 0 0

    .thumbs-down
      background-color: $fu-primary
      .thumb-icon
        background-position: -24px 0

// ---------
// POSTS NEW
// ---------
.posts-new
  h2
    border-bottom: 5px solid $fu-off-black
  select
    font-size: 1.2em
  input[type="text"], input[type="file"], textarea
    border: 2px solid #ddd
    color: $fu-off-black

  .btn
    margin: 1em 0 0

#counter
  height: 39px
  width: 96%
  max-width: 320px
  margin: 2em auto
  background-image: url('/images/campaigns/fedup/counter.png')
  background-position: 0 0
  background-repeat: no-repeat

/* Pagination and submit buttons */
#next-page
  width: 7em

#next-page.first-value
  width: 18em
  margin: 2em auto
  @media all and (max-width: 600px)
    margin: 1em auto
    font-size: 1em

#prev-page
  width: 9em

#edit-final-submit
  width: 13em

.ui-autocomplete
  background: #fff
  max-width: 415px !important
  width: 100%
  padding: 10px 20px
  border-right: 2px solid #ddd
  border-bottom: 2px solid #ddd
  border-left: 2px solid #ddd
  +border-radius(3px)
  a
    text-decoration: none
    cursor: pointer

.ui-helper-hidden-accessible
  margin: 0.5em 0
  display: block

#allowed-types /* TODO - THESE MARGIN AND PADDING IMPROVEMENTS MAY BE GOOD CANDIDATES TO PORT BACK TO THE GLOBAL LEVEL */
  color: #222
  margin: 1em 0 0 0
  padding: 0

#upload-preview
  border: 50px solid #f4f4f4
  +border-radius(3px)
  @media all and (max-width: 600px)
    border: 10px solid rgb(244, 244, 244)

#image_error
  margin: 1em 0 0 0

#new_post
  label.radio_buttons, label.check_boxes
    font-weight: 600
  label.collection_radio_buttons, label.collection_check_boxes
    margin: 0 0 0 0.5em

// -----------
// START & FAQ
// -----------
section.start, section.faq, section.posts-new
  border-top: 25px solid $fu-primary
  h1, h2, p, li, label
    color: $fu-off-black

.start
  .introduction
    border-bottom: 7px solid $fu-off-black
    margin: 0 0 -2em 0
    padding: 0 0 1em 0

  .cta
    border-top: 7px solid $fu-off-black
    background: none
    padding: 2em 0 2em

  .instructions
    padding: 1em 0
    margin: 1em 3em
    b
      display: block
      &:before
        background-image: $fu-numbers
        background-repeat: no-repeat
        content: ''
        display: block
        position: relative
        top: 2em
        left: -3em
        height: 38px
        width: 38px
    b.first
      &:before
        background-position: 0 0
    b.second
      &:before
        background-position: -38px 0
    b.third
      &:before
        background-position: 0 -38px
    b.star
      &:before
        background-position: -38px -38px
    img
      display: block
      margin: 1em auto 0
      width: 100%

.faq
  @media all and (max-width: 600px)
    h2
      font-size: 1.1em
      font-weight: bold
      margin: 0 0 0.5em 0

    p
      font-size: 1em

  h2.ready
    text-align: center

  .btn
    margin: 0.5em auto 1em auto
    padding: 0.6em 0.2em 0.2em 0.2em
    display: block

  .section-container
    padding: 0

// -------------
// FOOTER (HELP)
// -------------
.footer-help
  background: #f8f8f8
  border-top: 1px solid #ddd
  p
    color: $fu-off-black
    padding: 1em 0 0.5em

.shared
  background: #ededed !important
  border: 1px solid #dedede !important
  cursor: default !important
  color: #808080 !important

.please-log-in
  background: #fff
  padding: 25px
  border-radius: 10px
  +box-shadow(0px 0px 5px #808080)
  height: 22px !important

  .ui-dialog-titlebar
    float: right