<div class="sponsor-container first">
  This is where the sponsors for this campaign will go.  This can be overwritten by creating a 'app/views/<%= @campaign.path %>/partials/_sponsors.html.erb' file.
</div>
