<section class="start">
  <div class="section-container">
    <p>21 million students a year rely on school lunch as their primary source of energy, but the average school lunch packs in more fat and sodium than a person should eat in a full day.  <b>Upload a picture of your school lunch and answer 10 multiple choice questions to be entered to win a $4,000 scholarship.</b> <%= link_to "Learn what we'll do",faq_path %>with the info here.</p>
    <h2>Snap a photo of your lunch before you take the first bite.</h2>
    <p><%= image_tag '/images/lunch.jpg' %></p>
    <p><b>Give it a fun and descriptive name!</b></p>
    <p>Got a gross burrito? 'Poo-rito' explains everything we need to know about it.</p>
    <p><b>Tell us about it</b></p>
    <p>We'll ask you 10 multiple choice questions about your lunch.</p>
    <p><b>Check out other lunches</b></p>
    <p>Rate other lunches I'D TOSS IT or I'D EAT IT</p>
    <p><b>Don't have your lunch pic yet?</b></p>
    <p>Text <b><i>LUNCH</i></b> to <b><i>38383</i></b> to upload your pic from your cell when you're ready.  We'll send you a reminder text at lunch time.</p>
    <%= link_to submit_path, class: 'btn primary large solo' do %><span>SHOW US YOUR LUNCH</span><% end %>
  </div>
</section>
