<aside class="mobile">
  <h2>Show Us Your Lunch.</h2>
</aside>

<aside class="desktop">
  <h1>How it Works</h1>
  <ol>
    <li>Take a picture of your school lunch.</li>
    <li>Submit it to us and answer some basic questions about your school.</li>
    <li>Share you and your friends' lunches, and say whether you'd EAT or TOSS other lunches.</li>
    <li>You'll be entered to win a scholarship!</li>
  </ol>
</aside>

