<header>
	<%= image_tag "logo-ds.png", alt: "DoSomething.org logo", class: "logo-ds" %>
	<%= image_tag "logo-mobile.png", alt: "Pics for Pets logo", class: "logo-mobile" %>
  <h1><%= get_campaign ? get_campaign.title : "DoSomething Create and Share Campaigns" %></h1>
  <h2>Show us your school lunch to get tips on how to make change in your cafeteria and be entered to win a scholarship.</h2>
</header>

