<header class="header">
  <div class="section-container">
    <%= link_to '//www.dosomething.org' do %><%= image_tag '/images/logo-ds.png', :class => 'header-ds-logo', :alt => 'DoSomething.org logo' %><% end %>
    <%= link_to '/' + get_campaign.path do %><%= image_tag '/images/logo-pics.png', :class => 'header-pics-logo', :alt => get_campaign.title + ' logo' %><% end %>
  </div>
</header>
