<section class="posts">
  <div class="section-container">
    <h2 id="notice">Share your photo now to have your friends vote whether they'd EAT IT or TOSS it or <%= link_to 'go back to the gallery', root_path %></h2>

    <div class="post-list">
      <%= render 'single_post' %>
    </div>
  </div>
</section>